<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css>

</head>
<body>
    <header>
        <div class="header-top">
            <img src="./images/logo-mercado-liebre.svg" alt ="logo" class="logo">
            <input class="search" type="text" placeholder="Buscar productos, marcas ">
            <p class="cuotas"><i class="fas fa-user"></i> compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul type="none" class="nav-bar-1">
                <li><a href="#" class="nav-link">Ofertas</a></li>
                <li><a href="#" class="nav-link">Tiendas Oficiales</a></li>
                <li><a href="#" class="nav-link">Vender</a></li>
                <li><a href="#" class="nav-link">Ayuda</a></li>
            </ul>
            <ul type="none" class="nav-bar-2">
                <li><a href="#" class="nav-link">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="#" class="nav-link">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#" class="nav-link">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="nav-button">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img class="banner" src="./images/img-home-banner.jpg" alt="banner">
        <div class="main-container">
            <h2 class="titulares">Basado en tu última visita</h2>
            <section class="ultima-visita">
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770 </p>
                        <p class="descuentos">40% OFF</p>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h3 class="descripcion">Macbook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70500</p>
                        <p class="descuentos">10% OFF</p>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h3 class="descripcion">SmartTv Samsung 43*</h3>
                    </div>
                </article>
            </section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <section class="ofertas">
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h3 class="descripcion">Macbook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70500</p>
                        <p class="descuentos">10% OFF</p>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="article-div">
                        <i class="fas fa-truck"></i>

                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h3 class="descripcion">SmartTv Samsung 43*</h3>
                    </article>
                    </div>
            </section>
          </main>
        </div>
    <footer>
        <div>
            <i class="fas fa-credit-card icon-footer"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p class="texto">Con MercadoLiebreCash tenés cotas sin interés con tarjeta o efectivo en putons de pago ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift icon-footer"></i>
            <h3>envio gratis desde los 2500</h3>
            <p class="texto">Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos.Ees un benefio de Mercado Puntos</p>
        </div>
        <div>
            <i class="fas fa-user-shield icon-footer"></i>
            <h3>Seguridad de principio a fin</h3>
            <p class="texto">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas haccer porque estás siempre protegid@</p>
        </div>
    </footer>
    
</body>
</html>