<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css>

</head>
<body>
    <body>
        <header>
            <div class="header-top">
                <img src="./images/logo-mercado-liebre.svg" alt ="logo" class="logo">
                <input class="search" type="text" placeholder="Buscar productos, marcas ">
                <p class="cuotas"><i class="fas fa-user"></i> compra en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul type="none" class="nav-bar-1">
                    <li><a href="#" class="nav-link">Ofertas</a></li>
                    <li><a href="#" class="nav-link">Tiendas Oficiales</a></li>
                    <li><a href="#" class="nav-link">Vender</a></li>
                    <li><a href="#" class="nav-link">Ayuda</a></li>
                </ul>
                <ul type="none" class="nav-bar-2">
                    <li><a href="/register" class="nav-link">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                    <li><a href="/login" class="nav-link">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#" class="nav-link">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="nav-button">
                <i class="fas fa-bars"></i>
            </div>
        </header>
    <main>
        <div class="main-container">
            <form action="#" method="post">
                <label for="user-name" id="user-name-label"></label>
                <input type="text" name="user-name" id="user-name" placeholder="Ingresá tu nombre de usuario"required>
                <label for="password" id="password-label"></label>
                <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña" required>
                <a href="/" class="button-a"><button type="button">Enviar</button></a>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <i class="fas fa-credit-card icon-footer"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p class="texto">Con MercadoLiebreCash tenés cotas sin interés con tarjeta o efectivo en putons de pago ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift icon-footer"></i>
            <h3>Envio gratis desde los 2500</h3>
            <p class="texto">Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos.Ees un benefio de Mercado Puntos</p>
        </div>
        <div>
            <i class="fas fa-user-shield icon-footer"></i>
            <h3>Seguridad de principio a fin</h3>
            <p class="texto">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas haccer porque estás siempre protegid@</p>
        </div>
    </footer>
</body>
</html>